@import '../../assets/variables.scss';
@import '../../assets/fonts.scss';

.FifthSection {
    width: $section-width;
    height: 1254px;
    padding: 8px 48px 40px;
    & .column-wrapper {
        display: flex;
        flex-direction: column;
        & .column {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-top: 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid #D8D8D8;
            & .title {
                width: 327px;
                height: 70px;
                left: 48px;
                top: 3226px;
                font-family: $lexend;
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 35px;
                text-transform: uppercase;
                color: #000000;
            }
            & .info {
                display: flex;
                flex-direction: column;
                & .description {
                    width: 376px;
                    font-family: $inter;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 28px;
                    color: #000000;
                }
                & .link {
                    margin-top: 24px;
                    text-decoration: none;
                    width: 376px;
                    height: 28px;
                    font-family: $inter;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 28px;
                    color: $green;
    
                }
            }
            & img {
    
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}