<section class="FifthSection">
    <div class="column-container">
        <div class="column-wrapper">
            <div class="column">
                <h3 class="title">Oil and Gas Exhibition Centre </h3>
                <div class="info">
                    <p class="description">Key areas of the Oil & Gas industry focused on exploration and the production of hydrocarbons have been selected to support the needs and understanding of the visitor.</p>
                    <a href="#" class="link">Learn more</a>
                </div>
                <img draggable="false" src="./assets/images/5th-section-slide-1.png" alt="" />
            </div>
            <div class="column">
                <h3 class="title">Planetarium</h3>
                <div class="info">
                    <p class="description">The revamped Planetarium offers visitors an enhanced multimedia experience of the universe.</p>
                    <a href="#" class="link">Learn more</a>
                </div>
                <img draggable="false" src="./assets/images/5th-section-slide-2.png" alt="" />
            </div>
            <div class="column">
                <h3 class="title">The EcoOman Centre </h3>
                <div class="info">
                    <p class="description">The EcOman Centre forms a unique learning campus with two of PDO's previous Gifts to the Nation – the Oil & Gas Exhibition Centre and the Planetarium, making them Oman's foremost science-based public visitor attraction.</p>
                    <a href="#" class="link">Learn more</a>
                </div>
                <img draggable="false" src="./assets/images/5th-section-slide-3.png" alt="" />
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="button active"></div>
        <div class="button"></div>
        <div class="button"></div>
    </div>
</section>