<section class="SixthSection">
    <div class="top">
        <h3 class="title">Upcomming Events</h3>
        <div class="buttons">
            <button class="button make-booking"><a href="#">MAKE A BOOKING</a></button>
            <button class="button view-booking"><a href="#">VIEW A BOOKING</a></button>
        </div>
    </div>
    <div class="card-wrapper">
        <div class="card">
            <img src="./assets/images/6th-section-img-1.png" alt="">
            <div class="card-date">Mon 12,<br/>August 2022</div>
            <h5 class="card-title">The EcoOman Centre</h5>
            <p class="card-description">The EcOman Centre forms a unique learning campus with two of PDO's previous Gifts to the Nation - the Oil & Gas Exhibition Centre.</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
        <div class="card">
            <img src="./assets/images/6th-section-img-2.png" alt="">
            <div class="card-date">Mon 12,<br/>August 2022</div>
            <h5 class="card-title">The EcoOman Centre</h5>
            <p class="card-description">The EcOman Centre forms a unique learning campus with two of PDO's previous Gifts to the Nation - the Oil & Gas Exhibition Centre.</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
        <div class="card">
            <img src="./assets/images/6th-section-img-3.png" alt="">
            <div class="card-date">Mon 12,<br/>August 2022</div>
            <h5 class="card-title">The EcoOman Centre</h5>
            <p class="card-description">The EcOman Centre forms a unique learning campus with two of PDO's previous Gifts to the Nation - the Oil & Gas Exhibition Centre.</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
        <div class="card">
            <img src="./assets/images/6th-section-img-3.png" alt="">
            <div class="card-date">Mon 12,<br/>August 2022</div>
            <h5 class="card-title">The EcoOman Centre</h5>
            <p class="card-description">The EcOman Centre forms a unique learning campus with two of PDO's previous Gifts to the Nation - the Oil & Gas Exhibition Centre.</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
        <div class="card">
            <img src="./assets/images/6th-section-img-3.png" alt="">
            <div class="card-date">Mon 12,<br/>August 2022</div>
            <h5 class="card-title">The EcoOman Centre</h5>
            <p class="card-description">The EcOman Centre forms a unique learning campus with two of PDO's previous Gifts to the Nation - the Oil & Gas Exhibition Centre.</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
    </div>
    <button class="view-all">View All</button>
</section>