<section class="SixthSection">
    <div class="top">
        <h3 class="title">Upcomming Events</h3>
        <div class="buttons">
            <button class="button make-booking">MAKE A BOOKING</button>
            <button class="button view-booking">VIEW A BOOKING</button>
        </div>
    </div>
    <div class="makebooking-stepper">
        <div class="top">
            <h3 class="title">MAKE A BOOKING</h3>
            <div class="close">X</div>
        </div>
        <div class="progress"></div>
        <div class="step step1">
            <div class="step-title">
                <h3 class="step-title green">1</h3>
                <h3 class="step-title grey">BOOKING DETAILS</h3>
            </div>
            <div class="content">
                <div class="left">
                    <h5 class="info">Booking type</h5>
                    <h5 class="info">Your Details</h5>
                    <p class="info-description">Provide Your personal details to confirm your activity</p>
                    <h5 class="info">Booking Details</h5>
                </div>
                <div class="right">
                    <form>
                        <select name="" id="" class="booking-type">
                            <option value="Individual/family">Individual/family</option>
                            <option value="Individual/family">Individual/family</option>
                            <option value="Individual/family">Individual/family</option>
                            <option value="Individual/family">Individual/family</option>
                        </select>
                        <input type="text" class="name">
                        <input type="text" class="second-name">
                        <div class="code-number">
                            <select name="" class="code" id="">
                                <option value="+1">+1</option>
                                <option value="+1">+1</option>
                                <option value="+1">+1</option>
                                <option value="+1">+1</option>
                            </select>
                            <input type="text" class="number">
                        </div>
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="" id="">
                            <span class="checkbox-label">Send Booking Reminders to me by SMS</span>
                        </div>
                        <input type="email" name="email" id="">
                        <select name="" id="" class="adult-visitors">
                            <option value="Number of Adult Visitors (18+)">Number of Adult Visitors (18+)</option>
                            <option value="Number of Adult Visitors (18+)">1</option>
                            <option value="Number of Adult Visitors (18+)">2</option>
                            <option value="Number of Adult Visitors (18+)">3</option>
                            <option value="Number of Adult Visitors (18+)">4</option>
                        </select>
                        <select name="" id="" class="child-visitors">
                            <option value="Number of Child Visitors">Number of Child Visitors</option>
                            <option value="Number of Child Visitors">1</option>
                            <option value="Number of Child Visitors">2</option>
                            <option value="Number of Child Visitors">3</option>
                            <option value="Number of Child Visitors">4</option>
                        </select>
                        <select name="" id="" class="country">
                            <option value="">Country</option>
                            <option value="US">United States</option>
                            <option value="UK">United Kingdom</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card-wrapper">
        <div class="card">
            <img src="./assets/images/6th-section-img-1.png" alt="">
            <div class="card-date">Mon 12,<br/>August 2022</div>
            <h5 class="card-title">The EcoOman Centre</h5>
            <p class="card-description">The EcOman Centre forms a unique learning campus with two of PDO's previous Gifts to the Nation - the Oil & Gas Exhibition Centre.</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
        <div class="card">
            <img src="./assets/images/6th-section-img-2.png" alt="">
            <div class="card-date">Mon 12,<br/>August 2022</div>
            <h5 class="card-title">The EcoOman Centre</h5>
            <p class="card-description">The EcOman Centre forms a unique learning campus with two of PDO's previous Gifts to the Nation - the Oil & Gas Exhibition Centre.</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
        <div class="card">
            <img src="./assets/images/6th-section-img-3.png" alt="">
            <div class="card-date">Mon 12,<br/>August 2022</div>
            <h5 class="card-title">The EcoOman Centre</h5>
            <p class="card-description">The EcOman Centre forms a unique learning campus with two of PDO's previous Gifts to the Nation - the Oil & Gas Exhibition Centre.</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
        <div class="card">
            <img src="./assets/images/6th-section-img-3.png" alt="">
            <div class="card-date">Mon 12,<br/>August 2022</div>
            <h5 class="card-title">The EcoOman Centre</h5>
            <p class="card-description">The EcOman Centre forms a unique learning campus with two of PDO's previous Gifts to the Nation - the Oil & Gas Exhibition Centre.</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
        <div class="card">
            <img src="./assets/images/6th-section-img-3.png" alt="">
            <div class="card-date">Mon 12,<br/>August 2022</div>
            <h5 class="card-title">The EcoOman Centre</h5>
            <p class="card-description">The EcOman Centre forms a unique learning campus with two of PDO's previous Gifts to the Nation - the Oil & Gas Exhibition Centre.</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
    </div>
    <button class="view-all">View All</button>
</section>