<section class="SixthSection">
    <div class="top-head">
        <h3 class="title">Upcomming Events</h3>
        <div class="buttons">
            <button class="button make-booking">MAKE A BOOKING</button>
            <button class="button view-booking">VIEW A BOOKING</button>
        </div>
    </div>
    <div class="makebooking-stepper active">
        <div class="top">
            <h3 class="title">MAKE A BOOKING</h3>
            <div class="close"><div></div></div>
        </div>
        <div class="progress">
            <div class="circle-green active">
                <div class="circle-white"></div>
            </div>
            <div class="circle-green">
                <div class="circle-white"></div>
            </div>
            <div class="circle-green">
                <div class="circle-white"></div>
            </div>
            <div class="progress-bar"></div>
            <div class="current-progress"></div>
        </div>
        <div class="steps-container">
            <div class="step step1 active">
                <div class="step-title">
                    <h3 class="step-title green">1</h3>
                    <h3 class="step-title grey">BOOKING DETAILS</h3>
                </div>
                <div class="content">
                        <form>
                            <div class="top">
                                <div class="left">
                                    <h5 class="info">Booking type</h5>
                                </div>
                                <div class="right">
                                    <div class="select-wrapper select-wrapper-booking-type">
                                        <div class="select-box">
                                            <div class="options-container">
                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="0" for="news">Individual/Family</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="1" for="magazine">Individual</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="2" for="publication">Family</label>
                                                </div>
                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="0" for="news">Individual/Family</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="1" for="magazine">Individual</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="2" for="publication">Family</label>
                                                </div>
                                            </div>

                                            <div class="selected">
                                                Individual/Family
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="middle">
                                <div class="left"><h5 class="info">Your Details</h5>
                        <p class="info-description">Provide Your personal details to confirm your activity</p></div>
                                <div class="right">
                                    <input type="text" placeholder="Your Name" class="name">
                                    <input type="text" placeholder="Your second name" class="second-name">
                                    <div class="code-number">
                                        <div class="select-wrapper select-wrapper-code">
                                            <div class="select-box">
                                                <div class="options-container">
                                                    <div class="option">
                                                        <input type="radio" class="radio" id="" name="category" />
                                                        <label data-value="+1" for="news">+1</label>
                                                    </div>

                                                    <div class="option">
                                                        <input type="radio" class="radio" id="" name="category" />
                                                        <label data-value="+2" for="magazine">+2</label>
                                                    </div>

                                                    <div class="option">
                                                        <input type="radio" class="radio" id="" name="category" />
                                                        <label data-value="+9" for="publication">+9</label>
                                                    </div>
                                                    <div class="option">
                                                        <input type="radio" class="radio" id="" name="category" />
                                                        <label data-value="+1" for="news">+1</label>
                                                    </div>

                                                    <div class="option">
                                                        <input type="radio" class="radio" id="" name="category" />
                                                        <label data-value="+2" for="magazine">+2</label>
                                                    </div>

                                                    <div class="option">
                                                        <input type="radio" class="radio" id="" name="category" />
                                                        <label data-value="+9" for="publication">+9</label>
                                                    </div>
                                                </div>

                                                <div class="selected">
                                                    <span>+1</span>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="text" placeholder="Number" class="number">
                                    </div>
                                    <div class="checkbox-wrapper checkbox-wrapper-sms">
                                        <label class="container"> Send Booking Reminders to me by SMS
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <input class="email" placeholder="Email adress" type="email" name="email" id="">
                                    <div class="checkbox-wrapper checkbox-wrapper-newsletter">
                                        <label class="container"> Sign up for our Knowledge World newsletter
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    </div>
                                </div>
                            <div class="bottom">
                                <h5 class="left">Booking Details</h5>
                                <div class="right">
                                    <div class="select-wrapper select-wrapper-adult-visitors">
                                    <div class="select-box">
                                        <div class="options-container">
                                            <div class="option">
                                                <input type="radio" class="radio" id="" name="category" />
                                                <label data-value="1" for="news">1</label>
                                            </div>

                                            <div class="option">
                                                <input type="radio" class="radio" id="" name="category" />
                                                <label data-value="2" for="magazine">2</label>
                                            </div>

                                            <div class="option">
                                                <input type="radio" class="radio" id="" name="category" />
                                                <label data-value="2" for="publication">3</label>
                                            </div>
                                            <div class="option">
                                                <input type="radio" class="radio" id="" name="category" />
                                                <label data-value="1" for="news">1</label>
                                            </div>

                                            <div class="option">
                                                <input type="radio" class="radio" id="" name="category" />
                                                <label data-value="2" for="magazine">2</label>
                                            </div>

                                            <div class="option">
                                                <input type="radio" class="radio" id="" name="category" />
                                                <label data-value="2" for="publication">3</label>
                                            </div>
                                        </div>

                                        <div class="selected">
                                            Number of Adult Visitors (18+)
                                        </div>
                                    </div>
                                    </div>
                                    <div class="select-wrapper select-wrapper-child-visitors">
                                        <div class="select-box">
                                            <div class="options-container">
                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="1" for="news">1</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="2" for="magazine">2</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="2" for="publication">3</label>
                                                </div>
                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="1" for="news">1</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="2" for="magazine">2</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="2" for="publication">3</label>
                                                </div>
                                            </div>

                                            <div class="selected">
                                                Number of Child Visitors
                                            </div>
                                        </div>
                                    </div>
                                    <div class="select-wrapper select-wrapper-country">
                                        <div class="select-box">
                                            <div class="options-container">
                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="US" for="news">US</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="UK" for="magazine">UK</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="CA" for="publication">CA</label>
                                                </div>
                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="US" for="news">US</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="UK" for="magazine">UK</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="CA" for="publication">CA</label>
                                                </div>
                                            </div>

                                            <div class="selected">
                                                Country
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
                <button class="btn next-step">NEXT STEP</button>
            </div>
            <div class="step step2">
                <div class="step-title">
                    <h3 class="step-title green">2</h3>
                    <h3 class="step-title grey">Pick booking day and time</h3>
                </div>
                    <div class="content">
                        <form>
                            <div class="top">
                                <h5 class="left">Select Centre</h5>
                                <div class="right">
                                    <div class="select-wrapper select-wrapper-center">
                                        <div class="select-box">
                                            <div class="options-container">
                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="Ecoman Centre" for="news">Ecoman Centre</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="Centre 2" for="magazine">Centre 2</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="Center 3" for="publication">Center 3</label>
                                                </div>
                                            </div>

                                            <div class="selected">
                                                Ecoman Centre
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="middle">
                                <h5 class="left">Select date</h5>
                                <div class="right">
                                    <div class="date-wrapper">
                                        <input type="date" class="date" name="" id="">
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                                <h5 class="left">Select time slot</h5>
                                <div class="right">
                                    <div class="select-wrapper select-wrapper-time">
                                        <div class="select-box">
                                            <div class="options-container">
                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="08:00 - 09:00" for="news">08:00 - 09:00</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="09:00 - 10:00" for="magazine">09:00 - 10:00</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="10:00 - 11:00" for="publication">10:00 - 11:00</label>
                                                </div>
                                            </div>

                                            <div class="selected">
                                                08:00 - 09:00
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                <button class="btn next-step">NEXT STEP</button>
                <button class="btn prev-step">STEP BACK</button>
            </div>
            <div class="step step3">
                <div class="step-title">
                    <h3 class="step-title green">3</h3>
                    <h3 class="step-title grey">SUMMARY</h3>
                </div>
                <div class="content">
                    <div class="left">
                        <div class="top">
                            <h3 class="title"></h3>
                            <ul class="date-time">
                                <li class="date">Date <span></span></li>
                                <li class="time">Time <span></span></li>
                            </ul>
                        </div>
                        <ul class="bottom">
                            <div class="wrapper">
                                <label>Booking Type</label>
                                <li class="bookingType"></li>
                            </div>
                            <div class="wrapper">
                                <label>Name</label>
                                <li class="name"></li>
                            </div>
                            <div class="wrapper">
                                <label>Contact Phone</label>
                                <li class="phone"></li>
                            </div>
                            <div class="wrapper">
                                <label>Email</label>
                                <li class="email"></li>
                            </div>
                            <div class="wrapper">
                                <label>Number of Adult Visitors (18+)</label>
                                <li class="adultsCount"></li>
                            </div>
                            <div class="wrapper">
                                <label>Number of Child Visitors</label>
                                <li class="childsCount"></li>
                            </div>
                            <div class="wrapper">
                                <label>Country</label>
                                <li class="country"></li>
                            </div>
                        </ul>
                    </div>
                    <div class="right">
                        <h5 class="title">Confirm Details</h5>
                        <p class="description">Please check and confirmall your booking details.If you need to cancelthen please contact us.</p>
                        <p class="description">If you need to update any details then plese use the linked provided.</p>
                        <ul class="links">
                            <li><a href="#">Change my details</a></li>
                            <li><a href="#">Change Date/Time</a></li>
                        </ul>
                    </div>
                </div>
                <button class="btn next-step">NEXT STEP</button>
                <button class="btn prev-step">STEP BACK</button>
            </div>
            <div class="step step4">
                <h3 class="title">Thank you for your booking!</h3>
                <p class="description">Our representatives will contact you to confirm the booking for Wednesday 26.05.2022 at EcOman Centre at 08:00 a.m.</p>
                <div class="event-info">
                    <div class="place">EcOman Centre</div>
                    <ul class="time-date">
                        <li>Date <span>26.05.2022</span></li>
                        <li>Time <span>08:00 - 09:00</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="findbooking-stepper">
        <div class="top">
            <h3 class="title">FIND YOUR BOOKING</h3>
            <div class="close"><div></div></div>
        </div>
        <div class="step step1 active">
            <div class="step-title"><h3 class="title">Enter your details</h3></div>
            <div class="findBooking">
                <h5 class="title">Name or Email</h5>
                <input type="text" placeholder="Your name" class="name">
            </div>
            <div class="findBooking">
                <h5 class="title">Booking Ref</h5>
                <input type="text" placeholder="Your second name" class="secondName">
            </div>
            <button class="find">FIND</button>
        </div>
        <div class="step step2">
               <div class="step-title"><h3 class="title">YOUR BOOKING<span>#12838472</span></h3></div>
               <div class="content">
                    <div class="left">
                        <div class="top">
                            <h3 class="title">Ecoman Center</h3>
                            <ul class="date-time">
                                <li class="date">Date <span>26.05.22</span></li>
                                <li class="time">Time <span>08:00 - 09:00</span></li>
                            </ul>
                        </div>
                        <ul class="bottom">
                            <div class="wrapper">
                                <label>Booking Type</label>
                                <li class="bookingType">Individual/Family</li>
                            </div>
                            <div class="wrapper">
                                <label>Name</label>
                                <li class="name">Jon Doe</li>
                            </div>
                            <div class="wrapper">
                                <label>Contact Phone</label>
                                <li class="phone">+49(Germany)-94847302</li>
                            </div>
                            <div class="wrapper">
                                <label>Email</label>
                                <li class="email">fake@gmail.com</li>
                            </div>
                            <div class="wrapper">
                                <label>Number of Adult Visitors (18+)</label>
                                <li class="adultsCount">2</li>
                            </div>
                            <div class="wrapper">
                                <label>Number of Child Visitors</label>
                                <li class="childsCount">1</li>
                            </div>
                            <div class="wrapper">
                                <label>Country</label>
                                <li class="country">Oman</li>
                            </div>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    <div class="card-wrapper">
        <div class="card">
            <img draggable="false" src="./assets/images/6th-section-img-1.png" alt="">
            <div class="card-date">Mon 12,<br/>August 2022</div>
            <h5 class="card-title">The EcoOman Centre</h5>
            <p class="card-description">The EcOman Centre forms a unique learning campus with two of PDO's previous Gifts to the Nation - the Oil & Gas Exhibition Centre.</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
        <div class="card">
            <img draggable="false" src="./assets/images/6th-section-img-2.png" alt="">
            <div class="card-date">Mon 12,<br/>August 2022</div>
            <h5 class="card-title">The EcoOman Centre</h5>
            <p class="card-description">The EcOman Centre forms a unique learning campus with two of PDO's previous Gifts to the Nation - the Oil & Gas Exhibition Centre.</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
        <div class="card">
            <img draggable="false" src="./assets/images/6th-section-img-3.png" alt="">
            <div class="card-date">Mon 12,<br/>August 2022</div>
            <h5 class="card-title">The EcoOman Centre</h5>
            <p class="card-description">The EcOman Centre forms a unique learning campus with two of PDO's previous Gifts to the Nation - the Oil & Gas Exhibition Centre.</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
        <div class="card">
            <img draggable="false" src="./assets/images/6th-section-img-3.png" alt="">
            <div class="card-date">Mon 12,<br/>August 2022</div>
            <h5 class="card-title">The EcoOman Centre</h5>
            <p class="card-description">The EcOman Centre forms a unique learning campus with two of PDO's previous Gifts to the Nation - the Oil & Gas Exhibition Centre.</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
        <div class="card">
            <img draggable="false" src="./assets/images/6th-section-img-3.png" alt="">
            <div class="card-date">Mon 12,<br/>August 2022</div>
            <h5 class="card-title">The EcoOman Centre</h5>
            <p class="card-description">The EcOman Centre forms a unique learning campus with two of PDO's previous Gifts to the Nation - the Oil & Gas Exhibition Centre.</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
    </div>
    <button class="view-all">View All</button>
</section>