.SixthSection {
    width: $section-width;
    min-height: 935px;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    & .makebooking-stepper {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 640px;
        height: 935px;
        padding: 16px 24px 24px;
        overflow: hidden;
        background: #fff;
        z-index: 20;
        & .top {
            & .title {
                margin-left: 48px;
                width: 473px;
                height: 28px;
                font-family: $lexend;
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 28px;
                text-transform: uppercase;
                color: #000000;
                margin: 0px;
            }
        }
        & .progress {
            width: 100%;
            display: flex;
            margin-top: 40px;
            justify-content: space-between;
            & .circle-green {
                width: 20px;
                height: 20px;
                background-color: #019748;
                position: relative;
                border-radius: 50%;
                & .circle-white {
                    width: 9px;
                    height: 9px;
                    background: #fff;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    transform: translateY(-50%);
                    height: 4px;
                    width: 266px;
                    background: rgba(1, 151, 72, 0.5);
                }
                &:last-child {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 100%;
                        transform: translateY(-50%);
                        height: 0px;
                        width: 0px;
                        background: rgba(1, 151, 72, 0.5);
                    }
                }
            }
        }
        & .steps-container {
            display: flex;
            width: 100%;
            // transition: .5s ease;
            & .step {
                flex-shrink: 0;
                width: 100%;
                margin-top: 32px;
                height: 829px;
                position: relative;
                margin-right: 24px;
                transition: 1.5s ease;
                opacity: 0;
                & .step-title {
                    display: flex;
                    & .step-title.green {
                        margin-left: 48px;
                        font-family: $lexend;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 20px;
                        text-transform: uppercase;
                        color: #fff;
                        margin: 0px;
                        padding: 10px 15px;
                        background: #019748;
                    }
                    & .step-title.grey {
                        margin-left: 48px;
                        font-family: $lexend;
                        width: 100%;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 20px;
                        text-transform: uppercase;
                        color: #000000;
                        margin: 0px;
                        padding: 10px 15px;
                        background: rgb(248,247,250);
                    }
                }
                & .content {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    & .left {
                        display: flex;
                        flex-direction: column;
                        & .info {
                            margin-top: 37px;
                            font-family: $lexend;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 25px;
                            display: flex;
                            align-items: flex-end;
                            color: #019748;
                            &:nth-child(2) {
                                margin-top: 55px;
                            }
                            &:last-child {
                                margin-top: 244px;
                            }
                        }
                        & .info-description {
                            margin-top: 12px;
                            width: 147px;
                            font-family: $inter;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            display: flex;
                            align-items: center;
    
                            color: #4F4F4F;
                        }
                    }
                    & .right {
                        & form {
                            display: flex;
                            flex-direction: column;
                            width: 327px;
                            & .select-wrapper {
                                    display: block;
                                    position: relative;
                                    margin-top: 37px;
                                    width: 327px;
                                    height: 40px;
                                    // border: 1px solid #F1F1F1;
                                    // padding: 3px 10px 3px 6px;
                                    & .select-box {
                                        display: flex;
                                        width: 327px;
                                        height: 40px;
                                        flex-direction: column;
                                        & .options-container {
                                            color: #000;
                                            background: white;
                                            max-height: 0;
                                            width: 100%;
                                            opacity: 0;
                                            // transition: 0.2s ease;
                                            border-radius: 5px;
                                            overflow: hidden;
                                            order: 1;
                                            font-size: 14px;
                                            position: absolute;
                                            top: 33px;
                                            z-index: 10;
                                            height: 96px;
                                            & .option {
                                                padding: 8px 12px;
                                                cursor: pointer;
                                                & label {
                                                    cursor: pointer;
                                                }
                                                & .radio {
                                                    display: none;
                                                }
                                            }
                                        }
                                        & .options-container.active {
                                            max-height: 240px;
                                            opacity: 1;
                                            height: 100px;
                                            position: absolute;
                                            top: 33px;
                                            z-index: 10;
                                            overflow-y: scroll;
                                            & + .selected::before {
                                                transform: rotate(220deg);
                                            }
                                            & + .selected::after {
                                                transform: rotate(140deg);
                                            }
                                        }
                                        & .selected {
                                            width: 327px;
                                            height: 40px;
                                            color: #000;
                                            position: relative;
                                            display: flex;
                                            align-items: center;
                                            order: 0;
                                            font-size: 16px;
                                            line-height: 19px;
                                            font-family: $lexend;
                                            padding: 8px 12px;
                                            cursor: pointer;
                                            background: rgb(228, 228, 228);
                                        &::before {
                                            content: "";
                                            position: absolute;
                                            height: 7px;
                                            width: 2px;
                                            right: 14px;
                                            background-color: #000;
                                            top: 18px;
                                            transform: rotate(140deg);
                                            transition: 0.4s ease;
                                        }
                                        &::after {
                                            content: "";
                                            position: absolute;
                                            height: 7px;
                                            width: 2px;
                                            right: 10px;
                                            background-color: #000;
                                            top: 18px;
                                            transform: rotate(220deg);
                                            transition: 0.4s ease;
                                        }
                                    }
                                }
                            }
                            & .select-wrapper-adult-visitors {
                                margin-top: 43px;
                            }
                            & .select-wrapper-child-visitors {
                                margin-top: 12px;
                            }
                            & .select-wrapper-country {
                                margin-top: 24px;
                            }
                            & .name {
                                margin-top: 40px;
                                width: 327px;
                                height: 40px;
                                background: rgb(228, 228, 228);
                                border: 0px;
                                padding: 8px 12px;
                                font-size: 16px;
                                line-height: 19px;
                                font-family: $lexend;
                            }
                            & .second-name {
                                margin-top: 12px;
                                width: 327px;
                                height: 40px;
                                background: rgb(228, 228, 228);
                                border: 0px;
                                padding: 8px 12px;
                                font-size: 16px;
                                line-height: 19px;
                                font-family: $lexend;
                            }
                            & .code-number {
                                display: flex;
                                justify-content: space-between;
                                margin-top: 24px;
                                width: 327px;
                                height: 40px;
                                & .number {
                                    width: 192px;
                                    height: 40px;
                                    background: rgb(228, 228, 228);
                                    border: 0px;
                                    padding: 8px 12px;
                                    font-size: 16px;
                                    line-height: 19px;
                                    font-family: $lexend;
                                }
                                & .select-wrapper-code {
                                    display: block;
                                    position: relative;
                                    margin-top: 0px;
                                    width: 125px;
                                    height: 40px;
                                    // border: 1px solid #F1F1F1;
                                    // padding: 3px 10px 3px 6px;
                                    & .select-box {
                                        display: flex;
                                        width: 55px;
                                        height: 40px;
                                        flex-direction: column;
                                        & .options-container {
                                            color: #000;
                                            background: white;
                                            max-height: 0;
                                            width: 100%;
                                            opacity: 0;
                                            // transition: 0.2s ease;
                                            border-radius: 5px;
                                            overflow: hidden;
                                            order: 1;
                                            font-size: 14px;
                                            position: absolute;
                                            top: 33px;
                                            z-index: 10;
                                            height: 96px;
                                            & .option {
                                                padding: 8px 12px;
                                                cursor: pointer;
                                                & label {
                                                    cursor: pointer;
                                                }
                                                & .radio {
                                                    display: none;
                                                }
                                            }
                                        }
                                        & .options-container.active {
                                            max-height: 240px;
                                            opacity: 1;
                                            height: 100px;
                                            position: absolute;
                                            top: 33px;
                                            z-index: 10;
                                            overflow-y: scroll;
                                            & + .selected::before {
                                                transform: rotate(220deg);
                                            }
                                            & + .selected::after {
                                                transform: rotate(140deg);
                                            }
                                        }
                                        & .selected {
                                            width: 125px;
                                            height: 40px;
                                            color: #000;
                                            position: relative;
                                            display: flex;
                                            align-items: center;
                                            order: 0;
                                            font-family: $inter;
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 16px;
                                            padding: 8px 12px;
                                            cursor: pointer;
                                            background: rgb(228, 228, 228);
                                            &::before {
                                                content: "";
                                                position: absolute;
                                                height: 7px;
                                                width: 2px;
                                                right: 14px;
                                                background-color: #000;
                                                top: 18px;
                                                transform: rotate(140deg);
                                                transition: 0.4s ease;
                                            }
                                            &::after {
                                                content: "";
                                                position: absolute;
                                                height: 7px;
                                                width: 2px;
                                                right: 10px;
                                                background-color: #000;
                                                top: 18px;
                                                transform: rotate(220deg);
                                                transition: 0.4s ease;
                                            }
                                        }
                                    }
                                }
                            }
                            & .checkbox-wrapper {
                                margin-top: 15px;
                                /* Customize the label (the container) */
                                & .container {
                                    display: block;
                                    position: relative;
                                    padding-left: 35px;
                                    margin-bottom: 12px;
                                    cursor: pointer;
                                    font-size: 18px;
                                    -webkit-user-select: none;
                                    -moz-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                    font-family: $inter;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 17px;
                                    /* identical to box height */
    
                                    display: flex;
                                    align-items: flex-end;
    
                                    color: #000000;
                                }
                                
                                /* Hide the browser's default checkbox */
                                & .container input {
                                    position: absolute;
                                    opacity: 0;
                                    cursor: pointer;
                                    height: 0;
                                    width: 0;
                                }
                                
                                /* Create a custom checkbox */
                                & .checkmark {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 18px;
                                    width: 18px;
                                    background-color: #eee;
                                }
                                
                                /* On mouse-over, add a grey background color */
                                & .container:hover input ~ .checkmark {
                                    background-color: #ccc;
                                }
                                
                                /* When the checkbox is checked, add a blue background */
                                & .container input:checked ~ .checkmark {
                                    background-color: #019748;
                                }
                                
                                /* Create the checkmark/indicator (hidden when not checked) */
                                & .checkmark:after {
                                    content: "";
                                    position: absolute;
                                    display: none;
                                }
                                
                                /* Show the checkmark when checked */
                                & .container input:checked ~ .checkmark:after {
                                    display: block;
                                }
                                
                                /* Style the checkmark/indicator */
                                & .container .checkmark:after {
                                    left: 5px;
                                    top: 1px;
                                    width: 5px;
                                    height: 10px;
                                    border: solid white;
                                    border-width: 0 2px 2px 0;
                                    -webkit-transform: rotate(35deg);
                                    -ms-transform: rotate(35deg);
                                    transform: rotate(35deg);
                                }
                            }
                            & .email {
                                margin-top: 10px;
                                width: 327px;
                                height: 40px;
                                background: rgb(228, 228, 228);
                                border: 0px;
                                padding: 8px 12px;
                                font-size: 16px;
                                line-height: 19px;
                                font-family: $lexend;
                            }
                        }
                    }
                }
                & .btn {
                    position: absolute;
                    bottom: 31px;
                    right: 0px;
                    width: 159px;
                    height: 48px;
                    padding: 0 24px;
                    border: none;
                    background: #019748;
                    color: #fff;
                    font-family: $readex;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                    cursor: pointer;
                }
                & .btn.prev-step {
                    width: 160px;
                    right: 172px;
                    background: #fff;
                    color: $green;
                    border: 1px solid $green;
                }
            }
            & .step.active {
                opacity: 1;
            }
            & .step2 {
                & .content {
                    & .left {
                        & .info {
                            &:last-child {
                                margin-top: 56px;
                            }
                        }
                    }
                    & .right {
                        & form {
                            & .date-wrapper {
                                & .date {
                                    margin-top: 40px;
                                    height: 40px;
                                    width: 100%;
                                    padding: 0px 5px 0px 12px;
                                    font-family: $inter;
                                    background: rgb(228, 228, 228);
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 19px;
                                    outline: none;
                                    border: none;
                                    color: #000000;
                                    &::-webkit-calendar-picker-indicator { 
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
                & .btn.prev-step {
                    width: 160px;
                    right: 172px;
                    background: #fff;
                    color: $green;
                    border: 1px solid $green;
                }
            }
            & .step3 {
                & .content {
                    & .left {
                        & .top {
                            margin-top: 32px;
                            background: #F8F7FA;
                            padding: 24px;
                            & .title {
                                width: 167px;
                                font-family: $lexend;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 25px;
                                display: flex;
                                align-items: center;
                                color: #000000;
                                height: 50px;
                            }
                            & .date-time {
                                & li {
                                    margin-top: 12px;
                                    &:first-child {
                                        margin-top: 0px;
                                    }
                                }
                            }
                        }
                        & .bottom {
                            margin-top: 12px;
                            width: 385px;
                            height: 531px;
                            padding: 24px;
                            background: #F8F7FA;
                            & .wrapper {
                                padding-bottom: 12px;
                                border-bottom: 1px solid #4F4F4F;
                                margin-bottom: 12px;
                                & label {
                                    font-family: $lexend;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 18px;
                                    display: flex;
                                    align-items: center;
                                    color: #848484;
                                }
                                & li {
                                    margin-top: 8px;
                                    margin-left: 24px;
                                    font-family: 'Inter';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 19px;
                                    align-items: center;
                                    color: #4F4F4F;
                                }
                            }
                        }
                    }
                    & .right {
                        width: 181px;
                        margin-top: 32px;
                        & .title {
                            font-family: $lexend;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 25px;
                            display: flex;
                            align-items: center;
                            color: #019748;
                        }
                        & .description {
                            margin-top: 12px;
                            font-family: $inter;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            display: flex;
                            align-items: center;
                            color: #4F4F4F;
                        }
                        & .links {
                            margin-top: 24px;
                            & li {
                                margin-left: 24px;
                                margin-top: 12px;
                                color: #019748;
                                &:first-child {
                                    margin-top: 0px;
                                }
                                & a {
                                    font-family: $inter;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 17px;
                                    text-decoration-line: underline;
                                    color: #019748;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    & .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        & .title {
            margin-left: 48px;
            width: 473px;
            height: 28px;
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 28px;
            text-transform: uppercase;
            color: #000000;
        }
        & .buttons {
            margin-right: 48px;
            display: flex;
            justify-content: space-between;
            width: 337px;
            & .button {
                width: 161px;
                height: 40px;
                border: 1px solid $green;
                a {
                    text-decoration: none;
                }
            }
            & .button.make-booking {
                background: #019748;
                font-family: $lexend;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            & .button.view-booking {
                background: #fff;
                font-family: $lexend;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                text-transform: uppercase;
                color: $green;
            }
        }

    }
    & .card-wrapper {
        margin-top: 100px;
        margin-left: 6px;
        height: 493px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        & .card {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-left: 42px;
            margin-bottom: 20px;
            width: 393px;
            &:last-child {
                margin-right: 0px;
            }
            & img {
                width: 393px;
                height: 284px;
            }
            & .card-date {
                position: absolute;
                padding: 0px 10px;
                background: $green;
                font-family: $lexend;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            & .card-title {
                margin-top: 32px;
                position: unset;
                font-family: $lexend;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 25px;
                color: #000000;
            }
            & .card-description {
                margin-top: 24px;
                font-family: $inter;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                color: #000000;
            }
            & .card-link {
                margin-top: 17px;
                font-family: $inter;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                color: #019748;
                text-decoration: none;
            }
        }
    }
    & .view-all {
        margin-top: 111px;
        margin-bottom: 48px;
        border: 0;
        padding: 10px 16px;
        background: $green;
        cursor: pointer;
        font-family: $lexend;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}