<section class="SeventhSection">
    <h3 class="title">About your curators</h3>
    <p class="description">PDO's Knowledge World curators are highly qualified specialists in their fields with the enthusiasm to educate and raise people's awareness about the oil and gas industry, the environment and astronomy.</p>
    <div class="curators">
        <div class="curator-card">
            <img src="./assets/images/7th-section-curator-1.png" alt="">
            <h5 class="curator-name">Hamed Al Battashi</h5>
            <p class="curator-description">Since 2015, Hamed has been curator of PDO's most recent Gift to the Nation, the EcOman Center.</p>
        </div>
        <div class="curator-card">
            <img src="./assets/images/7th-section-curator-2.png" alt="">
            <h5 class="curator-name">Suleiman Al Busaidi</h5>
            <p class="curator-description">Since 2013 Suleiman has been curator of PDO's planetarium Gift to the Nation in the Sultanate.</p>
        </div>
        <div class="curator-card">
            <img src="./assets/images/7th-section-curator-3.png" alt="">
            <h5 class="curator-name">Abdullah Al Yaqoobi</h5>
            <p class="curator-description">Abdullah has been working for PDO in oil and gas operations since 1989 and recently joined the Oil & Gas Exhibition Centre as Curator.</p>
        </div>
    </div>
</section>