@import '../../assets/variables.scss';
@import '../../assets/fonts.scss';

@media (max-width: 1359px) {
    .SeventhSection {
        height: 810px;
        position: relative;
        padding: 32px 24px 41px;
        & .title {
            width: 260px;
            position: absolute;
            top: 32px;
            left: 50%;
            transform: translateX(-50%);
            font-family: $lexend;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #000000;
        }
        & .description {
            width: 490px;
            position: absolute;
            top: 86px;
            left: 50%;
            transform: translateX(-50%);
            font-family: $inter;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #000000;

        }
        & .curators {
            top: 288px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            display: flex;
            flex-direction: row;
            padding: 0 24px;
            justify-content: space-between;
            width: 100%;
            & .curator-card {
                display: flex;
                flex-direction: column;
                margin-top: 0px;
                padding: 0 10px;
                &:first-child {
                    margin-top: 0px;
                }
                & img {
                    width: 235px;
                    height: 323px;
                    align-self: center;
                }
                & .curator-name {
                    align-self: center;
                    margin-top: 24px;
                    font-family: $lexend;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 25px;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    color: #000000;
                }
                & .curator-description {
                    align-self: center;
                    margin-top: 24px;
                    max-width: 352px;
                    font-family: $inter;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                    color: #000000;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .SeventhSection {
        height: fit-content;
        min-height: 2106px;
        position: relative;
        padding: 32px 24px 41px;
        & .title {
            width: 260px;
            position: absolute;
            top: 32px;
            left: 50%;
            transform: translateX(-50%);
            font-family: $lexend;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #000000;
        }
        & .description {
            width: 88%;
            position: absolute;
            top: 86px;
            left: 50%;
            transform: translateX(-50%);
            font-family: $inter;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #000000;

        }
        & .curators {
            top: 288px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            display: flex;
            flex-direction: column;
            padding: 0;
            width: fit-content;
            & .curator-card {
                padding: 0;
                margin-top: 40px;
                &:first-child {
                    margin-top: 0px;
                }
                & img {
                    align-self: unset;
                    width: 327px;
                    height: 426px;
                }
                & .curator-name {
                    margin-top: 24px;
                    font-family: $lexend;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 25px;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    color: #000000;
                }
                & .curator-description {
                    margin-top: 24px;
                    max-width: 347px;
                    font-family: $inter;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                    color: #000000;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .SeventhSection {
        & .title {
            left: 24px;
            transform: translateX(0px);
        }
        & .description {
            width: 321px;
            left: 24px;
            transform: translateX(0px);
        }
        & .curators {
            left: 24px;
            transform: translateX(0px);
        }
    }
}

@media (min-width: 1360px) {
    .SeventhSection {
        height: fit-content;
        width: 1360px;
        height: 1079px;
        position: relative;
        margin: auto;
        & .title {
            position: absolute;
            top: 85px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-family: $lexend;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 28px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
        }
        & .description {
            position: absolute;
            top: 140px;
            left: 50%;
            transform: translateX(-50%);
            font-family: $inter;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            color: #000000;
        }
        & .curators {
            top: 288px;
            left: 48px;
            position: absolute;
            display: flex;
            width: fit-content;
            height: 664px;
            margin-bottom: 127px;
            & .curator-card {
                margin-right: 40px;
                & img {
                    width: 394px;
                    height: 534px;
                }
                & .curator-name {
                    margin-top: 24px;
                    font-family: $lexend;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 25px;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    color: #000000;
                }
                & .curator-description {
                    margin-top: 24px;
                    max-width: 352px;
                    font-family: $inter;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                    color: #000000;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}