<section class="EighthSection">
    <div class="top">
        <div class="top-left">
            <h3 class="title">Contact us</h3>
            <p class="description">Knowledge World staff are available to answer your enquiries during working hours. </p>
            <span class="days"><b>Days</b>: From Sunday to Thursday. </span>
            <span class="time"><b>Time</b>: 08:00AM - 3:00PM</span>
        </div>
        <div class="top-right">
            <img src="./assets/images/8th-section-img.png" alt="">
        </div>
    </div>
    <div class="bottom">
        <div class="bottom-left">
            <div class="bottom-left-column first">
                <h3 class="title">Enquiries</h3>
                <p class="description">For any enquiries, please send an e-mail to:</p>
                <a href="mailto:someone@yoursite.com" class="link">knowledgeworld@pdo.co.om.</a>
            </div>
            <div class="bottom-left-column second">
                <h3 class="title">Venue Address</h3>
                <p class="description">For any enquiries, please send an e-mail to:</p>
                <a href="mailto:someone@yoursite.com" class="link">knowledgeworld@pdo.co.om.</a>
            </div>
        </div>
        <div class="bottom-right">
            <form class="form">
                <input class="name input" type="name" placeholder="Your Name">
                <input class="tel input" type="tel" placeholder="Telephone Number">
                <input class="email input" type="email" placeholder="Email Address">
                <textarea class="comment" name="" id="" placeholder="Your comment"></textarea>
                <button class="btn">Send</button>
            </form>
        </div>
    </div>
</section>