<div class="SecondSection">
  <div class="left">
    <div class="info">
      <h3 class="title">About Knwoledge world</h3>
      <article class="description">PDO Knowledge World is an engaging journey,
        providing scientific learning opportunities for students and
        professionals, as well as general visitors & tourists. Knowledge World
        comprises of: The Oil & Gas Exhibition Centre, The Planetarium & EcOman
        Centre.</article>
      <article class="description">PDO has a long tradition of marking the milestone of Oman's National Day (November 18) by making a Gift to the Nation
    every five years to support the Sultanate's development. Three of the Gifts to the Nation are located on one site called
    the PDO Knowledge World in Muscat near to the Company's headquarters.</article>
    </div>
  </div>
  <div class="right">
    <div class="img-wrapper">
        <img src="./assets/images/2nd-section-img.png" alt="" />
    </div>
  </div>
</div>