<section class="NinenthSection rtl">
    <h3 class="title">Directions</h3>
    <p class="description">PDO's Knowledge World Centre is located on the right-hand side at the end of Seih Al Maleh Street just before PDO Gate 2 – Al Qurum, Muscat. Below is the location map.​</p>
    <p class="coordinates">Or through Google maps coordinates: 23 37 29 58 30 32</p>
    <div class="map">
        <img draggable="false" src="./assets/images/9th-section-map.png" alt="">
    </div>
    <div class="tapToZoom">TAP TO ZOOM IN</div>
</section>