<header class="Header">
    <nav class="header-nav">
        <div class="header-left">
            <ul class="header-links header-links-first-row">
                <li class="header-link"><a href="#">Careers</a></li>
                <li class="header-link"><a href="#">News & media</a></li>
                <li class="header-link"><a href="#">PDO-S</a></li>
                <li class="header-link"><a href="#">Knowledge World</a></li>
                <li class="header-link"><a href="#" class="active">Blow the Whistle</a></li>
                <li class="header-link"><a href="#">>العربية</a></li>
                <li class="header-link"><img src="./assets/images/search.png" alt=""></li>
            </ul>
            <ul class="header-links header-links-second-row">
                <li class="header-link"><a href="#">Who we are</a></li>
                <li class="header-link"><a href="#">Technical excellence</a></li>
                <li class="header-link"><a href="#">Sustainability</a></li>
                <li class="header-link"><a href="#">Creating value</a></li>
                <li class="header-link"><a href="#">Business with PDO</a></li>
            </ul>
            <ul class="header-links"></ul>
        </div>
        <div class="header-content">
            <div class="logo-container">
                <div class="logo">
                    <img src="./assets/images/combinelogo.png" alt="">
                </div>
                <div class="close-menu">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <ul class="content-links first">
                <li class="content-link"><a href="#">Who we are</a></li>
                <li class="content-link"><a href="#">Technical excellence</a></li>
                <li class="content-link"><a href="#">Sustainability</a></li>
                <li class="content-link"><a href="#">Creating value</a></li>
                <li class="content-link"><a href="#">Business with PDO</a></li>
            </ul>
            <ul class="content-links second">
                <li class="content-link"><a href="#">Careers</a></li>
                <li class="content-link"><a href="#">News & media</a></li>
                <li class="content-link"><a href="#">Al Fahal magazine</a></li>
                <li class="content-link"><a href="#">e-Services portal</a></li>
                <li class="content-link"><a href="#">عربي</a></li>
            </ul>
            <div class="contacts">
                <h5 class="title">Contact us</h5>
                <article class="description">Headquarters, Muscat, Siltanate of Oman</article>
                <article class="description">Postal office box 81, postal code 100</article>
                <article class="description">Telephone: + (00968) 24678111</article>
                <article class="description">Telex: 5212, Petro ON Cable: Petro Muscat.</article>
            </div>
            <div class="social">
                <h5 class="title">Follow us</h5>
                <div class="social-links">
                    <a href="#" class="social-link"><img src="./assets/images/facebook.png" alt=""></a>
                    <a href="#" class="social-link"><img src="./assets/images/instagram.png" alt=""></a>
                    <a href="#" class="social-link"><img src="./assets/images/twitter.png" alt=""></a>
                    <a href="#" class="social-link"><img src="./assets/images/linkedin.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="header-right">
            <div class="open-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <figure class="logo">
                <img src="./assets/images/logo.png" alt="">
            </figure>
            <figure class="logo-text">
                <img src="./assets/images/logo-text.png" alt="">
            </figure>
        </div>
    </nav>
</header>