<div class="ThirdSection">
    <div class="left">
        <div class="image-container">
            <div class="image-wrapper">
                <img src="./assets/images/3rd-section-img.png" alt="" />
                <img src="./assets/images/3rd-section-img.png" alt="" />
            </div>
        </div>
    </div>
    <div class="right">
        <article class="description">The attractions offer an engaging and interactive learning journey and are able to
            cater for a wide range of visitors including families with children, students, tourists and industry
            professionals. The centre explores many of the key topics in today's modern world including the evolution
            and future of energy, the environment, the sustainable development of Oman's natural resources and the
            science of astronomy.</article>
        <article class="description">PDO is proud of its role in supporting Oman and enhancing educational understanding
            in important areas that impact all of us. Find out what already over one million visitors have discovered
            and visit PDO's Knowledge World today.</article>
        <article class="description">Knowledge World has delighted many people who have visited the centre over the
            years to learn more about oil and gas exploration, production and other important PDO focus areas such as
            environmental stewardship and sustainable energy. Up to today more than ONE MILLION people have visited
            PDO's Knowledge Word.</article>
    </div>
</div>