@import '../../assets/variables.scss';
@import '../../assets/fonts.scss';

@media (max-width: 375px) {
    .ThirdSection {
        display: flex;
        flex-direction: column-reverse;
        height: 1268px;
        overflow: hidden;
        & .left {
            height: 515px;
            position: relative;
            & .image-container {
                position: absolute;
                top: 15px;
                left: -10px;
                & .image-wrapper {
                    padding: 27px 21px;
                    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 100%);
                    position: relative;
                    overflow: hidden;
                    height: 820px;
                    & img {
                        width: 353px;
                        height: 440px;
                        &:first-child {
                            width: 351px;
                            height: 440px;
                        }
                        &:last-child {
                            margin-top: 33px;
                            width: 353px;
                            height: 440px;
                        }
                    }
                }
            }
        }
    
        & .right {
            position: relative;
            height: 724px;
            margin-top: 32px;
            padding-left: 24px;
            & .description {
                width: 327px;
                font-family: $inter;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                color: #000000;
                &:first-child {
                    
                }
                &:nth-child(2) {
                    margin-top: 12px;
                }
                &:last-child {
                    margin-top: 12px;
                }
            }
        }
    }
}
@media (min-width: 1360px) {
    .ThirdSection {
        display: flex;
        width: 1360px;
        height: 880px;
        overflow: hidden;
        & .left {
            width: 50%;
            position: relative;
            & .image-container {
                position: absolute;
                top: 153px;
                left: 160px;
                & .image-wrapper {
                    width: 393px;
                    height: 793px;
                    padding: 27px 21px;
                    border: 1px solid #F9F9F9;
                    background: #F9F9F9;
                    border-radius: 38.1458px 38.1458px;
                    position: relative;
                    overflow: hidden;
                    height: 820px;
                    & img {
                        &:first-child {
                            width: 351px;
                            height: 440px;
                        }
                        &:last-child {
                            margin-top: 33px;
                            width: 353px;
                            height: 440px;
                        }
                    }
                }
            }
        }
    
        & .right {
            width: 50%;
            position: relative;
            & .description {
                width: 590px;
                font-family: $inter;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                color: #000000;
                position: absolute;
                &:first-child {
                    top: 170px;
                }
                &:nth-child(2) {
                    top: 398px;
                }
                &:last-child {
                    top: 542px;
                }
            }
        }
    }
}