@import '../../assets/variables.scss';
@import '../../assets/fonts.scss';

@media (max-width: 576px) {
    .FirstSection {
        background: $section-background;
        overflow: hidden;
        & .slider {
            position: relative;
            overflow: hidden;
            width: fit-content;
            & .arrow {
                display: none;
                & figure {
                    display: none;
                    & img {
                        display: none;
                    }
                }
            }
            & .slides-wrapper {
                transition: .3s ease;
                display: flex;
                flex-wrap: nowrap;
                & .slide {
                    position: relative;
                    overflow: hidden;
                    & figure {
                        width: 576px;
                        height: 667px;
                        & img {
                            width: 1360px;
                            position: absolute;
                            left: -217px;
                            height: 667px;
                        }
                    }
                    & .slide-title {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        left: 24px;
                        bottom: 96px;
                        font-family: $lexend;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 32px;
                        line-height: 40px;
                        display: flex;
                        align-items: flex-end;
                        text-transform: uppercase;
                        background: linear-gradient(285.37deg, #FFFFFF 37.36%, #019748 183.93%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }
                    & .slide-title-description {
                        position: absolute;
                        left: 24px;
                        bottom: 52px;
                        width: 256px;
                        height: 36px;
                        font-family: $inter;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        color: #FFFFFF;
                    }
                }
            }
            & .slider-buttons {
                position: absolute;
                bottom: 24px;
                left: 24px;
                & .slider-button {
                    width: 16px;
                    height: 4px;
                    border: 0;
                    outline: none;
                    background: rgba(237, 207, 101, 0.5);
                    border-radius: 5px;
                    transition: .3s ease;
                }
                & .slider-button.active {
                    width: 40px;
                    height: 4px;
                    background: #EDCF65;
                    border-radius: 5px;
                }
            }
            & .arrow {
                display: none;
            }
        }
    }
}

@media (max-width: 375px) {
    .FirstSection {
        height: 667px;
        background: $section-background;
        overflow: hidden;
        & .slider {
            height: 667px;
            position: relative;
            overflow: hidden;
            width: fit-content;
            & .slides-wrapper {
                transition: .3s ease;
                display: flex;
                flex-wrap: nowrap;
                & .slide {
                    position: relative;
                    overflow: hidden;
                    & figure {
                        width: 375px;
                        height: 667px;
                        & img {
                            width: 1360px;
                            position: absolute;
                            left: -217px;
                            height: 667px;
                        }
                    }
                    & .slide-title {
                        width: 279px;
                        height: 80px;
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        left: 24px;
                        bottom: 96px;
                        font-family: $lexend;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 32px;
                        line-height: 40px;
                        display: flex;
                        align-items: flex-end;
                        text-transform: uppercase;
                        background: linear-gradient(285.37deg, #FFFFFF 37.36%, #019748 183.93%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }
                    & .slide-title-description {
                        position: absolute;
                        left: 24px;
                        bottom: 52px;
                        font-family: $inter;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        color: #fff;
                    }
                }
            }
            & .slider-buttons {
                position: absolute;
                bottom: 24px;
                left: 24px;
                & .slider-button {
                    width: 16px;
                    height: 4px;
                    border: 0;
                    outline: none;
                    background: rgba(237, 207, 101, 0.5);
                    border-radius: 5px;
                    transition: .3s ease;
                }
                & .slider-button.active {
                    width: 40px;
                    height: 4px;
                    background: #EDCF65;
                    border-radius: 5px;
                }
            }
            & .arrow {
                display: none;
            }
        }
    }
}


@media (min-width: 1360px) {
    .FirstSection {
        width: $section-width;
        height: $section-height;
        background: $section-background;
        margin: auto;
    }
    
    .slider {
        position: relative;
        height: 100%;
        width: 1360px;
        overflow: hidden;
        & .slides-wrapper {
            display: flex;
            background: $section-background;
            transform: translate(0px);
            transition: .5s ease;
        }
    }
    
    .slide {
        position: relative;
        height: 100%;
        & figure {
            width: 1360px;
            height: 100%;
            & img {
                position: unset;
                min-width: 1360px;
                height: 100%;
            }
        }
    }
    
    
    // ========== Slide Text =================
    .slide-title {
        position: absolute;
        width: 560px;
        height: 186px;
        left: 48px;
        font-family: $lexend;
        bottom: 130px;
        font-style: normal;
        font-weight: 500;
        font-size: 74px;
        line-height: 92px;
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
        background: linear-gradient(277.42deg, #019748 -60.17%, #FFFFFF 102.6%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    
    .slide-title-description {
        width: 598px;
        height: 56px;
        position: absolute;
        bottom: 48px;
        left: 48px;
        font-size: 20px;
        line-height: 28px;
        color: #fff;
        font-family: $inter;
    }
    
    // ========== Slider Buttons Navigation =================
    .slider-buttons {
        position: absolute;
        right: 48px;
        bottom: 48px;
        & .slider-button {
            cursor: pointer;
            width: 16px;
            height: 4px;
            outline: none;
            border: none;
            background: rgba(237, 207, 101, 0.5);
            border-radius: 5px;
            transition: .5s ease;
        } 
    
        & .slider-button.active {
            width: 40px;
            height: 4px;
            background: #EDCF65;
            border-radius: 5px;
        }
    }
    
    
    // ========== Slider Arrows Navigation =================
    
    .arrow {
        position: absolute;
        cursor: pointer;
    }
    
    .arrow-right {
        top: 50%;
        transform: translateY(-50%);
        right: 48px;
        & figure {
            width: 48px;
            height: 48px;
        }
    }
    .arrow-left {
        display: none;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        left: 48px;
        & figure {
            width: 48px;
            height: 48px;
        }
    }
}

