<section class="FirstSection">
    {{> ../Header/index}}
    <div class="slider">
        <div class="slides-wrapper">
            <div class="slide">
                <figure>
                    <img src="./assets/images/1st-section-bg1.png" alt="">
                </figure>
                <h3 class="slide-title">
                    knowledge World
                </h3>
                <article class="slide-title-description">The Knowledge World attractions are an engaging journey offering scientific learning opportunities for all visitors.</article>
            </div>
            <div class="slide">
                <figure>
                    <img src="./assets/images/1st-section-bg2.png" alt="">
                </figure>
                <h3 class="slide-title">
                    knowledge World
                </h3>
                <article class="slide-title-description">The Knowledge World attractions are an engaging journey offering scientific learning opportunities for all visitors.</article>
            </div>
            <div class="slide">
                <figure>
                    <img src="./assets/images/1st-section-bg3.png" alt="">
                </figure>
                <h3 class="slide-title">
                    knowledge World
                </h3>
                <article class="slide-title-description">The Knowledge World attractions are an engaging journey offering scientific learning opportunities for all visitors.</article>
            </div>
            <div class="slide">
                <figure>
                    <img src="./assets/images/1st-section-bg4.png" alt="">
                </figure>
                <h3 class="slide-title">
                    knowledge World
                </h3>
                <article class="slide-title-description">The Knowledge World attractions are an engaging journey offering scientific learning opportunities for all visitors.</article>
            </div>
            <div class="slide">
                <figure>
                    <img src="./assets/images/1st-section-bg5.png" alt="">
                </figure>
                <h3 class="slide-title">
                    knowledge World
                </h3>
                <article class="slide-title-description">The Knowledge World attractions are an engaging journey offering scientific learning opportunities for all visitors.</article>
            </div>
        </div>
        <div class="arrow arrow-left">
            <figure>
                <img src="./assets/images/arrow-right.png" alt="">
            </figure>
        </div>
        <div class="arrow arrow-right">
            <figure>
                <img src="./assets/images/arrow-right.png" alt="">
            </figure>
        </div>
        <div class="slider-buttons">
            <button class="slider-button active"></button>
            <button class="slider-button"></button>
            <button class="slider-button"></button>
            <button class="slider-button"></button>
            <button class="slider-button"></button>
        </div>
    </div>
</section>