<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {{htmlWebpackPlugin.options.title}}
        </title>
    </head>
    <body>
        <section id="header">header</section>
        <section id="main">main</section>
        <section id="footer">footer</section>
    </body>
</html>